<ion-header>
 
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="container">
    <div class="page-header">
      <h1>Bienvenue a ShopBag</h1>
      <h3>Profitez de l'expérience</h3>
    </div>

    <img src="../../assets/images/logo.png" />

    <div class="button-container">
      <ion-button expand="block" class="main-button" routerLink="/login" routerDirection="forward">Se connecter</ion-button>
      <ion-button expand="block" color="dark" fill="clear" routerLink="/inscription" routerDirection="forward">S'inscrire</ion-button>
    </div>
  </div>
</ion-content>
