<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
  
    
    <ion-header collapse="condense">
      
    </ion-header>
    <div>
      <div class="photo" style="">
    <ion-img src="/assets/images/sh.png" alt=""></ion-img>
      </div>
      <div class="oder">
        <div class="contenu">
          
            <div class="profil">
              <div class="info">Nom : John snow</div>
              <div class="info">Numéro de téléphone : +237657847845</div>
              <div class="info">Adresse : Pualopool237@gmail.com</div>
            </div>
          
          
        </div>
      </div>
    </div>
  </ion-content>

