<ion-header [translucent]="true">
 
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
   <body>
    <ion-buttons >
      <ion-back-button defaultHref="/home" text=""></ion-back-button>
    </ion-buttons>
    <Div class="article">
      <div class="art-img">
        <ion-img class="add-col"
            src="\assets\images\oeuf.png"
            alt="">
          </ion-img>
      </div>
      <div class="desc">
        <ion-label><strong>2500 FCFA</strong></ion-label><br>
        <ion-label><strong>1 piece</strong></ion-label><br><br>
        <ion-label>The blue floral beach shirt is the perfect accessory for your beach vacation.</ion-label><br><br><br>
        <ion-button >Add cart</ion-button>
      </div>
          
   </Div>
   </body>
  </ion-header>
</ion-content>
