body{
    background-color: #ECECEC;
    ion-back-button{
        color: black;
    }
}
.article{
    ion-img{
        width: 330px; 
        height: 330px;
    }
    margin-left: 45px;
    margin-right: 45px;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    background-color: white;
    padding-bottom: 25px;
    
}
.art-img{
    display: flex;
    border-radius: 25px;
    background-color: #D9D9D9;
}
.desc{
    padding-top: 45px;
    text-align: center;
    font-size: large;
}
ion-button{
    
}